# Cleaning, manipulation and unification of the Datasets

### 1) Complete dataset of inorganic chemistry of water surfaces

#### File upload

In [1]:
# Import libraries
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from IPython.display import display, Math, Latex
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
# First look at the dataset structure:

In [3]:
# Samples of the rivers until 1998 of the regions from A to D:
rivers1=pd.read_excel('Rivers up to 1998 (A-D).xlsx')
print(len(rivers1), "samples")
rivers1.head()

145926 samples

,SAMPLE STATION/POINT ID\nAND SAMPLING DATE,Unnamed: 1,Unnamed: 2,Unnamed: 3,ELECTRICAL CONDUCTIVITY\n\nNOTE: Variables in bold represent original data from DWA,Unnamed: 5,Unnamed: 6,Unnamed: 7,MAJOR IONS CHEMICAL COMPOSITION\n\nNOTE: Variables in bold represent original data from DWA,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,TOTAL DISSOLVED SOLIDS,Unnamed: 23,Unnamed: 24,CHARGE BALANCE CALCULATION,Unnamed: 26,Unnamed: 27,MOLAR CONCENTRATIONS IN 10-3 MOL PER LITER (MMOL/L),Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,IONIC STRENGTH,SA WATER CHARACTERISATION PARAMETERS,Unnamed: 44,Unnamed: 45,SODIUM ADSORPTION RATIO,Unnamed: 47
0,NaN,NaN,NaN,NaN,mS/m,mS/cm,mS/cm,%,NaN,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L CaCO3,mg/L,mg/L,mg/L,mg/L,%,(mg/L)/(mS/cm),meq/L,meq/L,%,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,NaN,NaN,NaN,NaN,NaN,NaN
1,SAMPLE\nSTATION ID,POINT ID,DATE,YEAR,EC,EC,EC (calc.),dEC,PH,TDS,NaN,MG,CA,F,CL,NO2+NO3,SO4,PO4,TAL,SI,K,NH4,TDS (calc.),dTDS,TDS/EC (mS/cm),Sz+,Sz-,Charge Balance,[NA],[MG],[CA],[F],[CL],[NO3],[SO4],[PO4],[SI],[K],[NH4],[TAL],[HCO3],[CO3],I,[HCO3]+2[CO3],2[SO4],[CL],SAR,adj. SAR
2,A1H001Q01,NaN,1989-03-03 00:00:00,1989,45.4,454,379.349,-16.443,7.7,354,1.6,24.9,47.9,0.09,4.6,1.04,1.7,0.005,220.1,5.54,0.21,0.05,314.051,-11.2851,0.933178,4.51612,4.58863,-0.796312,0.0695652,1.02469,1.19451,0.00473684,0.129577,0.0167742,0.0176899,5.26316e-05,0.197153,0.00537084,0.00277778,2.201,4.38,0.0110021,0.00680043,96.388,0.774691,2.83728,0.0466975,0.0536643
3,A1H001Q01,NaN,1989-06-02 00:00:00,1989,44.6,446,397.909,-10.7828,7.7,362,2.8,28,47.4,0.1,6.5,1.09,5.3,0.008,218.7,6.07,0.4,0.04,323.328,-10.6829,0.909756,4.80281,4.6905,1.18306,0.121739,1.15226,1.18204,0.00526316,0.183099,0.0175806,0.0551509,8.42105e-05,0.216014,0.0102302,0.00222222,2.187,4.35214,0.0109321,0.0071473,93.7138,2.36324,3.92292,0.0796803,0.0905088
4,A1H001Q01,NaN,1989-09-02 00:00:00,1989,43.8,438,381.056,-13.001,8.24,353,2.1,28.1,41.4,0.07,6.2,1.03,2.8,0.011,219.2,5.55,0.27,0.03,313.088,-11.3065,0.926374,4.47747,4.63757,-1.75637,0.0913043,1.15638,1.03242,0.00368421,0.174648,0.0166129,0.0291363,0.000115789,0.197509,0.00690537,0.00166667,2.192,4.30894,0.0375293,0.00681333,94.9551,1.26215,3.78278,0.0617147,0.0688726

In [4]:
# Samples of the rivers until 1998 of the regions from E to X:
rivers2=pd.read_excel('Rivers up to 1998 (E-X).xlsx')
print(len(rivers2), "samples")
rivers2.head()

159076 samples

,SAMPLE STATION/POINT ID\nAND SAMPLING DATE,Unnamed: 1,Unnamed: 2,Unnamed: 3,ELECTRICAL CONDUCTIVITY\n\nNOTE: Variables in bold represent original data from DWA,Unnamed: 5,Unnamed: 6,Unnamed: 7,MAJOR IONS CHEMICAL COMPOSITION\n\nNOTE: Variables in bold represent original data from DWA,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,TOTAL DISSOLVED SOLIDS,Unnamed: 23,Unnamed: 24,CHARGE BALANCE CALCULATION,Unnamed: 26,Unnamed: 27,MOLAR CONCENTRATIONS IN 10-3 MOL PER LITER (MMOL/L),Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,IONIC STRENGTH,SA WATER CHARACTERISATION PARAMETERS,Unnamed: 44,Unnamed: 45,SODIUM ADSORPTION RATIO,Unnamed: 47
0,NaN,NaN,NaN,NaN,mS/m,mS/cm,mS/cm,%,NaN,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L CaCO3,mg/L,mg/L,mg/L,mg/L,%,(mg/L)/(mS/cm),meq/L,meq/L,%,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,NaN,NaN,NaN,NaN,NaN,NaN
1,SAMPLE\nSTATION ID,POINT ID,DATE,YEAR,EC,EC,EC (calc.),dEC,PH,TDS,NaN,MG,CA,F,CL,NO2+NO3,SO4,PO4,TAL,SI,K,NH4,TDS (calc.),dTDS,TDS/EC (mS/cm),Sz+,Sz-,Charge Balance,[NA],[MG],[CA],[F],[CL],[NO3],[SO4],[PO4],[SI],[K],[NH4],[TAL],[HCO3],[CO3],I,[HCO3]+2[CO3],2[SO4],[CL],SAR,adj. SAR
2,E1H006Q01,101895,1978-01-04 00:00:00,1978,6.6,66,58.4495,-11.4401,6.7,34,6.5,1.2,3.5,0,13.5,0.01,0,0.004,7.5,5.89,0.5,0.02,45.3386,33.3488,0.515152,0.569837,0.530569,3.56843,0.282609,0.0493827,0.0872818,0,0.380282,0.00016129,0,4.21053e-05,0.209609,0.0127877,0.00111111,0.075,0.149925,3.76594e-05,0.000687031,28.2868,0,71.7132,0.764465,0.277995
3,E1H006Q01,101895,1978-04-11 00:00:00,1978,4.9,49,44.3798,-9.42896,5.4,27,5.9,0.7,1,0,11.5,0,0.5,0,5.7,2.43,0.29,0.02,30.8102,14.1119,0.55102,0.718446,0.448349,23.1486,0.256522,0.0288066,0.0249377,0,0.323944,0,0.00520291,0,0.0864769,0.00741688,0.00111111,0.057,0.113997,1.43514e-06,0.000469392,25.4266,2.32092,72.2525,1.10652,0.350094
4,E1H006Q01,101895,1978-05-01 00:00:00,1978,5.6,56,54.1739,-3.26082,5.9,29,7.3,0.7,0.8,0,12.8,0.01,0.5,0,5.4,3.05,0.29,0.01,34.337,18.4034,0.517857,0.857041,0.47913,28.2831,0.317391,0.0288066,0.0199501,0,0.360563,0.00016129,0.00520291,0,0.108541,0.00741688,0.000555556,0.054,0.107991,4.29921e-06,0.000504968,22.5484,2.17255,75.279,1.4374,0.456312

In [5]:
# Samples of rivers from 1999 to 2012 from regions A to X:
rivers3=pd.read_excel('Rivers 1999-2012 (A-X).xlsx')
print(len(rivers3), "samples")
rivers3.head()

114821 samples

,SAMPLE STATION/POINT ID\nAND SAMPLING DATE,Unnamed: 1,Unnamed: 2,Unnamed: 3,ELECTRICAL CONDUCTIVITY\n\nNOTE: Variables in bold represent original data from DWA,Unnamed: 5,Unnamed: 6,Unnamed: 7,MAJOR IONS CHEMICAL COMPOSITION\n\nNOTE: Variables in bold represent original data from DWA,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,TOTAL DISSOLVED SOLIDS,Unnamed: 23,Unnamed: 24,CHARGE BALANCE CALCULATION,Unnamed: 26,Unnamed: 27,MOLAR CONCENTRATIONS IN 10-3 MOL PER LITER (MMOL/L),Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,IONIC STRENGTH,SA WATER CHARACTERISATION PARAMETERS,Unnamed: 44,Unnamed: 45,SODIUM ADSORPTION RATIO,Unnamed: 47
0,NaN,NaN,NaN,NaN,mS/m,mS/cm,mS/cm,%,NaN,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,%,(mg/L)/(mS/cm),meq/L,meq/L,%,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,NaN,NaN,NaN,NaN,NaN,NaN
1,SAMPLE\nSTATION ID,POINT ID,DATE,YEAR,EC,EC,EC (calc.),dEC,PH,TDS,NaN,MG,CA,F,CL,NO3+NO2,SO4,PO4,TAL,SI,K,NH4,TDS (calc.),dTDS,TDS/EC,Sz+,Sz-,Charge Balance,[NA],[MG],[CA],[F],[CL],[NO3],[SO4],[PO4],[SI],[K],[NH4],[TAL],[HCO3],[CO3],I,[HCO3]+2[CO3],2[SO4],[CL],SAR,adj. SAR
2,ZKOHA06,88506,2005-07-27 00:00:00,2005,222,2220,2563.53,15.4742,8.068,1904.24,38.938,189.285,230.671,0.354,111.679,0.152,1165.06,0.037,124.642,1.146,15.467,0.02,1878.76,-1.33804,0.857765,29.1734,29.9078,-1.24304,1.69296,7.78951,5.75239,0.0186316,3.14589,0.00245161,12.1234,0.000389474,0.0407829,0.395575,0.00111111,1.24642,2.46395,0.0144422,0.0552216,8.34127,81.1323,10.5264,0.460051,0.508505
3,ZKOHA06,88506,2005-10-04 00:00:00,2005,113,1130,1277.8,13.0795,7.887,907.807,47.861,79.952,79.326,0.324,38.996,0.114,564.14,0.044,70.363,2.213,10.72,0.045,896.621,-1.23222,0.803369,12.8944,14.2667,-5.05246,2.08091,3.29021,1.9782,0.0170526,1.09848,0.00183871,5.87034,0.000463158,0.0787544,0.274169,0.0025,0.70363,1.39647,0.00539549,0.0247261,9.87798,82.4115,7.71056,0.906597,0.891933
4,ZKOHA06,88506,2005-11-29 00:00:00,2005,246,2460,2739.2,11.3498,7.858,2105.41,48.034,213.083,231.347,0.287,28.687,0.04,1463.74,0.04,85.847,2.172,15.234,0.02,2091.01,-0.683948,0.855858,31.5554,33.005,-2.24536,2.08843,8.76885,5.76925,0.0151053,0.808085,0.000645161,15.2315,0.000421053,0.0772954,0.389616,0.00111111,0.85847,1.70462,0.00616066,0.0620572,5.20475,92.3456,2.44963,0.547731,0.578544

In [6]:
# Samples of the lakes/dams until 1998 of the regions from A to X:
dams_lakes1=pd.read_excel('Dams and lakes up to 1998 (A-X).xlsx')
print(len(dams_lakes1), "samples")
dams_lakes1.head()

57580 samples

,SAMPLE STATION/POINT ID\nAND SAMPLING DATE,Unnamed: 1,Unnamed: 2,Unnamed: 3,ELECTRICAL CONDUCTIVITY\n\nNOTE: Variables in bold represent original data from DWA,Unnamed: 5,Unnamed: 6,Unnamed: 7,MAJOR IONS CHEMICAL COMPOSITION\n\nNOTE: Variables in bold represent original data from DWA,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,TOTAL DISSOLVED SOLIDS,Unnamed: 23,Unnamed: 24,CHARGE BALANCE CALCULATION,Unnamed: 26,Unnamed: 27,MOLAR CONCENTRATIONS IN 10-3 MOL PER LITER (MMOL/L),Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,IONIC STRENGTH,SA WATER CHARACTERISATION PARAMETERS,Unnamed: 44,Unnamed: 45,SODIUM ADSORPTION RATIO,Unnamed: 47
0,NaN,NaN,NaN,NaN,mS/m,mS/cm,mS/cm,%,NaN,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L CaCO3,mg/L,mg/L,mg/L,mg/L,%,(mg/L)/(mS/cm),meq/L,meq/L,%,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,NaN,NaN,NaN,NaN,NaN,NaN
1,SAMPLE\nSTATION ID,POINT ID,DATE,YEAR,EC,EC,EC (calc.),dEC,PH,TDS,NaN,MG,CA,F,CL,NO2+NO3,SO4,PO4,TAL,SI,K,NH4,TDS (calc.),dTDS,TDS/EC (mS/cm),Sz+,Sz-,Charge Balance,[NA],[MG],[CA],[F],[CL],[NO3],[SO4],[PO4],[SI],[K],[NH4],[TAL],[HCO3],[CO3],I,[HCO3]+2[CO3],2[SO4],[CL],SAR,adj. SAR
2,A2R001Q01,90240,1975-03-10 00:00:00,1975,46,460,445.066,-3.24661,9.1,-9999,37.1,15.8,33.1,0.73,39.6,1.89,53.7,0.144,114.3,-9999,6.74,-9999,303.104,-9999,-9999,4.73671,4.59253,1.54541,1.61304,0.650206,0.825436,0.0384211,1.11549,0.0304839,0.558793,0.00151579,-9999,0.172379,-9999,1.143,2.02984,0.128074,0.00683167,50.5854,24.7305,24.6841,1.32787,1.31406
3,A2R001Q01,90240,1975-03-10 00:00:00,1975,45,450,420.66,-6.51994,8.19,-9999,33.3,15.2,33.8,0.74,37.4,3.82,52.2,0.356,100.7,-9999,6.6,-9999,284.116,-9999,-9999,4.55344,4.26569,3.26275,1.44783,0.625514,0.842893,0.0389474,1.05352,0.0616129,0.543184,0.00374737,-9999,0.168798,-9999,1.007,1.98321,0.0153946,0.00644779,48.4847,26.153,25.3623,1.19479,1.18014
4,A2R001Q01,90240,1975-03-10 00:00:00,1975,43,430,430.682,0.15856,9.7,-9999,34.1,14.4,32.4,0.78,39.6,2.51,49.8,0.251,106.1,-9999,6.69,-9999,286.631,-9999,-9999,4.45485,4.36338,1.03737,1.48261,0.592593,0.80798,0.0410526,1.11549,0.0404839,0.51821,0.00264211,-9999,0.1711,-9999,1.061,1.41239,0.354778,0.00669058,49.6495,24.2502,26.1003,1.25278,1.14967

In [7]:
#Samples of lakes/dams from 1999 to 2012 of regions from A to X:
dams_lakes2=pd.read_excel("Dams and lakes 1999-2012 (A-X).xlsx")
print(len(dams_lakes2), "samples")
dams_lakes2.head()

32527 samples

,SAMPLE NUMBER AND SAMPLING DATE,Unnamed: 1,Unnamed: 2,Unnamed: 3,ELECTRICAL CONDUCTIVITY\n\nNOTE: Variables in bold represent original data from DWA,Unnamed: 5,Unnamed: 6,Unnamed: 7,MAJOR IONS CHEMICAL COMPOSITION\n\nNOTE: Variables in bold represent original data from DWA,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,TOTAL DISSOLVED SOLIDS,Unnamed: 23,Unnamed: 24,CHARGE BALANCE CALCULATION,Unnamed: 26,Unnamed: 27,MOLAR CONCENTRATIONS IN 10-3 MOL PER LITER (MMOL/L),Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,IONIC STRENGTH,SA WATER CHARACTERISATION PARAMETERS,Unnamed: 44,Unnamed: 45,SODIUM ADSORPTION RATIO,Unnamed: 47
0,NaN,NaN,NaN,NaN,mS/m,mS/cm,mS/cm,%,NaN,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,mg/L,%,(mg/L)/(mS/cm),meq/L,meq/L,%,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,NaN,NaN,NaN,NaN,NaN,NaN
1,STATION,POINT ID,DATE,YEAR,EC,EC,EC (calc.),dEC,PH,TDS,NaN,MG,CA,F,CL,NO3+NO2,SO4,PO4,TAL,SI,K,NH4,TDS (calc.),dTDS,TDS/EC,Sz+,Sz-,Charge Balance,[NA],[MG],[CA],[F],[CL],[NO3],[SO4],[PO4],[SI],[K],[NH4],[TAL],[HCO3],[CO3],I,[HCO3]+2[CO3],2[SO4],[CL],SAR,adj. SAR
2,ZDILA-SAP,88724,1999-04-16 00:00:00,1999,171,1710,1366.99,-20.0593,7.3,-9999,180,26,53,-9999,170,3,190,0.2,420,3.5,19,0.2,1068.89,-9999,-9999,13.1064,17.1976,-13.5005,7.82609,1.06996,1.3217,-9999,4.78873,0.0483871,1.97711,0.00210526,0.124555,0.485934,0.0111111,4.2,8.38323,0.00838323,0.0195355,48.9997,23.0661,27.9341,5.06052,6.24978
3,ZDILA-SAP,88724,1999-05-21 00:00:00,1999,169,1690,1295.64,-23.3346,7.3,989.257,150,28,69,0.15,190,1,200,0.42,270,-9999,17,0.15,925.72,-6.4227,0.585359,12.7108,14.9517,-8.10104,6.52174,1.15226,1.7207,0.00789474,5.35211,0.016129,2.08117,0.00442105,-9999,0.434783,0.00833333,2.7,5.38922,0.00538922,0.018804,36.2065,27.9081,35.8854,3.84768,4.67351
4,A2R001Q01,90240,1999-01-12 00:00:00,1999,47.6,476,435.655,-8.47585,8.6,323,36.2,15.2,28.3,0.35,44.5,1.424,59.8,0.038,102.9,0.8,7.05,0.02,297.494,-7.89659,0.678571,4.41783,4.59865,-2.00539,1.57391,0.625514,0.705736,0.0184211,1.25352,0.0229677,0.622268,0.0004,0.0284698,0.180307,0.00111111,1.029,1.97902,0.0394867,0.00650244,45.1706,27.3161,27.5133,1.36411,1.32734

In [8]:
# see if the dataset columns match:

In [9]:
rivers1.columns==rivers2.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [10]:
rivers2.columns==rivers3.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [11]:
rivers3.columns==dams_lakes1.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [12]:
dams_lakes1.columns==dams_lakes2.columns

array([False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [14]:
# Rename the first column of the dataset "dams_lakes2" so that you can open all 5 datasets at once and concatenate them:
dams_lakes2.rename({'SAMPLE NUMBER AND SAMPLING DATE': "SAMPLE STATION/POINT ID\nAND SAMPLING DATE"}, axis=1, inplace=True)
# Save this change in a new file:
dams_lakes2.to_excel('Dams_and_lakes_1999_2012.xlsx', index=False)

In [16]:
# Open all 5 datasets at once to directly form a single file
import os
path=os.getcwd()
files=os.listdir(path)
files=('Dams and lakes up to 1998 (A-X).xlsx', 
       'Rivers 1999-2012 (A-X).xlsx', 
       'Rivers up to 1998 (A-D).xlsx', 
       'Rivers up to 1998 (E-X).xlsx',
       'Dams_and_lakes_1999_2012.xlsx')
# Create empty dataframe
chemical=pd.DataFrame()
# Read and join files
for f in files:
    data = pd.read_excel(f, skiprows=[1,2])  # Delete the first two rows, they are not useful
    chemical= chemical.append(data,ignore_index=True)
# Take a look at the dataframe
chemical.head()

,SAMPLE STATION/POINT ID\nAND SAMPLING DATE,Unnamed: 1,Unnamed: 2,Unnamed: 3,ELECTRICAL CONDUCTIVITY\n\nNOTE: Variables in bold represent original data from DWA,Unnamed: 5,Unnamed: 6,Unnamed: 7,MAJOR IONS CHEMICAL COMPOSITION\n\nNOTE: Variables in bold represent original data from DWA,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,TOTAL DISSOLVED SOLIDS,Unnamed: 23,Unnamed: 24,CHARGE BALANCE CALCULATION,Unnamed: 26,Unnamed: 27,MOLAR CONCENTRATIONS IN 10-3 MOL PER LITER (MMOL/L),Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,IONIC STRENGTH,SA WATER CHARACTERISATION PARAMETERS,Unnamed: 44,Unnamed: 45,SODIUM ADSORPTION RATIO,Unnamed: 47
0,A2R001Q01,90240.0,1975-03-10,1975,46.0,460.0,445.065616,-3.246605,9.10,-9999.0,37.1,15.8,33.1,0.73,39.6,1.89,53.7,0.144,114.3,-9999.0,6.74,-9999.0,303.104,-9999.0,-9999.0,4.736706,4.592531,1.545413,1.613043,0.650206,0.825436,0.038421,1.115493,0.030484,0.558793,0.001516,-9999.0,0.172379,-9999.0,1.143,2.029839,0.128074,0.006832,50.585393,24.730460,24.684147,1.327870,1.314062
1,A2R001Q01,90240.0,1975-03-10,1975,45.0,450.0,420.660257,-6.519943,8.19,-9999.0,33.3,15.2,33.8,0.74,37.4,3.82,52.2,0.356,100.7,-9999.0,6.60,-9999.0,284.116,-9999.0,-9999.0,4.553438,4.265692,3.262754,1.447826,0.625514,0.842893,0.038947,1.053521,0.061613,0.543184,0.003747,-9999.0,0.168798,-9999.0,1.007,1.983209,0.015395,0.006448,48.484660,26.153049,25.362290,1.194794,1.180139
2,A2R001Q01,90240.0,1975-03-10,1975,43.0,430.0,430.681807,0.158560,9.70,-9999.0,34.1,14.4,32.4,0.78,39.6,2.51,49.8,0.251,106.1,-9999.0,6.69,-9999.0,286.631,-9999.0,-9999.0,4.454854,4.363376,1.037369,1.482609,0.592593,0.807980,0.041053,1.115493,0.040484,0.518210,0.002642,-9999.0,0.171100,-9999.0,1.061,1.412395,0.354778,0.006691,49.649457,24.250200,26.100343,1.252777,1.149673
3,A2R001Q01,90240.0,1976-02-02,1976,47.0,470.0,425.726113,-9.419976,7.15,-9999.0,31.9,18.1,30.3,0.57,32.7,2.09,59.5,0.140,113.9,-9999.0,5.53,-9999.0,294.730,-9999.0,-9999.0,4.529323,4.505551,0.263110,1.386957,0.744856,0.755611,0.030000,0.921127,0.033710,0.619147,0.001474,-9999.0,0.141432,-9999.0,1.139,2.274779,0.001610,0.006643,51.336133,27.905707,20.758160,1.132269,1.135781
4,A2R001Q01,90240.0,1976-03-02,1976,49.3,493.0,429.898617,-12.799469,7.31,-9999.0,36.5,19.9,25.0,0.56,34.3,1.64,59.3,0.086,112.2,-9999.0,6.00,-9999.0,295.486,-9999.0,-9999.0,4.625152,4.502969,1.338531,1.586957,0.818930,0.623441,0.029474,0.966197,0.026452,0.617066,0.000905,-9999.0,0.153453,-9999.0,1.122,2.239417,0.002292,0.006629,50.491317,27.768677,21.740006,1.321376,1.303015

In [17]:
# Rename the columns
chemical.rename({"SAMPLE STATION/POINT ID\nAND SAMPLING DATE":"Station",
            "Unnamed: 1":"POINT ID",
            "Unnamed: 2": "DATE",
            "Unnamed: 3": "YEAR",
            "ELECTRICAL CONDUCTIVITY\n\nNOTE: Variables in bold represent original data from DWA": "EC (mS/m)",
            "Unnamed: 5": "EC (μS/cm)",
            "Unnamed: 6": "EC (calc.) (μS/cm)",
            "Unnamed: 7": "dEC (%)",
            "MAJOR IONS CHEMICAL COMPOSITION\n\nNOTE: Variables in bold represent original data from DWA": "PH",
            "Unnamed: 9": "TDS (mg/L)",
            "Unnamed: 10": "Na (mg/L)",
            "Unnamed: 11": "Mg (mg/L)",
            "Unnamed: 12": "Ca (mg/L)",
            "Unnamed: 13": "F (mg/L)",
            "Unnamed: 14": "Cl (mg/L)",
            "Unnamed: 15": "NO2+NO3 (mg/L)",
            "Unnamed: 16": "SO4 (mg/L)", 
            "Unnamed: 17": "PO4 (mg/L)", 
            "Unnamed: 18": "TAL (CaCO3) (mg/L)",
            "Unnamed: 19": "Si (mg/L)", 
            "Unnamed: 20": "K (mg/L)", 
            "Unnamed: 21": "NH4 (mg/L)", 
            "TOTAL DISSOLVED SOLIDS": "TDS (calc.) (mg/L)", 
            "Unnamed: 23": "dTDS (%)",
            "Unnamed: 24": "TDS/EC (mg/L)/(mS/cm)", 
            "CHARGE BALANCE CALCULATION": "Sz+ (meq/L)", 
            "Unnamed: 26": "Sz- (meq/L)", 
            "Unnamed: 27": "Charge Balance (%)",
            "MOLAR CONCENTRATIONS IN 10-3 MOL PER LITER (MMOL/L)": "[Na] (mmol/L)",
            "Unnamed: 29": "[Mg] (mmol/L)", 
            "Unnamed: 30": "[Ca] (mmol/L)",
            "Unnamed: 31": "[F] (mmol/L)", 
            "Unnamed: 32": "[Cl] (mmol/L)", 
            "Unnamed: 33": "[NO3] (mmol/L)",
            "Unnamed: 34": "[SO4] (mmol/L)", 
            "Unnamed: 35": "[PO4] (mmol/L)", 
            "Unnamed: 36": "[Si] (mmol/L)",
            "Unnamed: 37": "[K] (mmol/L)",
            "Unnamed: 38": "[NH4] (mmol/L)", 
            "Unnamed: 39": "[TAL] (mmol/L)", 
            "Unnamed: 40": "[HCO3] (mmol/L)", 
            "Unnamed: 41": "[CO3] (mmol/L)", 
            "IONIC STRENGTH": "Ionic Strength", 
            "SA WATER CHARACTERISATION PARAMETERS": "[HCO3]+2[CO3]", 
            "Unnamed: 44": "2[SO4]", 
            "Unnamed: 45": "[Cl]", 
            "SODIUM ADSORPTION RATIO":"SAR", 
            "Unnamed: 47": "adj. SAR"}, axis=1, inplace=True)

chemical.head()

,Station,POINT ID,DATE,YEAR,EC (mS/m),EC (μS/cm),EC (calc.) (μS/cm),dEC (%),PH,TDS (mg/L),Na (mg/L),Mg (mg/L),Ca (mg/L),F (mg/L),Cl (mg/L),NO2+NO3 (mg/L),SO4 (mg/L),PO4 (mg/L),TAL (CaCO3) (mg/L),Si (mg/L),K (mg/L),NH4 (mg/L),TDS (calc.) (mg/L),dTDS (%),TDS/EC (mg/L)/(mS/cm),Sz+ (meq/L),Sz- (meq/L),Charge Balance (%),[Na] (mmol/L),[Mg] (mmol/L),[Ca] (mmol/L),[F] (mmol/L),[Cl] (mmol/L),[NO3] (mmol/L),[SO4] (mmol/L),[PO4] (mmol/L),[Si] (mmol/L),[K] (mmol/L),[NH4] (mmol/L),[TAL] (mmol/L),[HCO3] (mmol/L),[CO3] (mmol/L),Ionic Strength,[HCO3]+2[CO3],2[SO4],[Cl],SAR,adj. SAR
0,A2R001Q01,90240.0,1975-03-10,1975,46.0,460.0,445.065616,-3.246605,9.10,-9999.0,37.1,15.8,33.1,0.73,39.6,1.89,53.7,0.144,114.3,-9999.0,6.74,-9999.0,303.104,-9999.0,-9999.0,4.736706,4.592531,1.545413,1.613043,0.650206,0.825436,0.038421,1.115493,0.030484,0.558793,0.001516,-9999.0,0.172379,-9999.0,1.143,2.029839,0.128074,0.006832,50.585393,24.730460,24.684147,1.327870,1.314062
1,A2R001Q01,90240.0,1975-03-10,1975,45.0,450.0,420.660257,-6.519943,8.19,-9999.0,33.3,15.2,33.8,0.74,37.4,3.82,52.2,0.356,100.7,-9999.0,6.60,-9999.0,284.116,-9999.0,-9999.0,4.553438,4.265692,3.262754,1.447826,0.625514,0.842893,0.038947,1.053521,0.061613,0.543184,0.003747,-9999.0,0.168798,-9999.0,1.007,1.983209,0.015395,0.006448,48.484660,26.153049,25.362290,1.194794,1.180139
2,A2R001Q01,90240.0,1975-03-10,1975,43.0,430.0,430.681807,0.158560,9.70,-9999.0,34.1,14.4,32.4,0.78,39.6,2.51,49.8,0.251,106.1,-9999.0,6.69,-9999.0,286.631,-9999.0,-9999.0,4.454854,4.363376,1.037369,1.482609,0.592593,0.807980,0.041053,1.115493,0.040484,0.518210,0.002642,-9999.0,0.171100,-9999.0,1.061,1.412395,0.354778,0.006691,49.649457,24.250200,26.100343,1.252777,1.149673
3,A2R001Q01,90240.0,1976-02-02,1976,47.0,470.0,425.726113,-9.419976,7.15,-9999.0,31.9,18.1,30.3,0.57,32.7,2.09,59.5,0.140,113.9,-9999.0,5.53,-9999.0,294.730,-9999.0,-9999.0,4.529323,4.505551,0.263110,1.386957,0.744856,0.755611,0.030000,0.921127,0.033710,0.619147,0.001474,-9999.0,0.141432,-9999.0,1.139,2.274779,0.001610,0.006643,51.336133,27.905707,20.758160,1.132269,1.135781
4,A2R001Q01,90240.0,1976-03-02,1976,49.3,493.0,429.898617,-12.799469,7.31,-9999.0,36.5,19.9,25.0,0.56,34.3,1.64,59.3,0.086,112.2,-9999.0,6.00,-9999.0,295.486,-9999.0,-9999.0,4.625152,4.502969,1.338531,1.586957,0.818930,0.623441,0.029474,0.966197,0.026452,0.617066,0.000905,-9999.0,0.153453,-9999.0,1.122,2.239417,0.002292,0.006629,50.491317,27.768677,21.740006,1.321376,1.303015

In [18]:
# Type of the columns
chemical.dtypes

Station                          object
POINT ID                        float64
DATE                     datetime64[ns]
YEAR                              int64
EC (mS/m)                       float64
EC (μS/cm)                      float64
EC (calc.) (μS/cm)              float64
dEC (%)                         float64
PH                              float64
TDS (mg/L)                      float64
Na (mg/L)                       float64
Mg (mg/L)                       float64
Ca (mg/L)                       float64
F (mg/L)                        float64
Cl (mg/L)                       float64
NO2+NO3 (mg/L)                  float64
SO4 (mg/L)                      float64
PO4 (mg/L)                      float64
TAL (CaCO3) (mg/L)              float64
Si (mg/L)                       float64
K (mg/L)                        float64
NH4 (mg/L)                      float64
TDS (calc.) (mg/L)              float64
dTDS (%)                        float64
TDS/EC (mg/L)/(mS/cm)           float64
Sz+ (meq/L)                     float64
Sz- (meq/L)                     float64
Charge Balance (%)              float64
[Na] (mmol/L)                   float64
[Mg] (mmol/L)                   float64
[Ca] (mmol/L)                   float64
[F] (mmol/L)                    float64
[Cl] (mmol/L)                   float64
[NO3] (mmol/L)                  float64
[SO4] (mmol/L)                  float64
[PO4] (mmol/L)                  float64
[Si] (mmol/L)                   float64
[K] (mmol/L)                    float64
[NH4] (mmol/L)                  float64
[TAL] (mmol/L)                  float64
[HCO3] (mmol/L)                 float64
[CO3] (mmol/L)                  float64
Ionic Strength                  float64
[HCO3]+2[CO3]                   float64
2[SO4]                          float64
[Cl]                            float64
SAR                             float64
adj. SAR                        float64
dtype: object

In [19]:
# Change the type of "POINT ID" to object
chemical["POINT ID"]=chemical["POINT ID"].astype("object")

In [20]:
# Save this dataset. Contains all data on inorganic chemistry of water surfaces
chemical.to_excel("chemical.xlsx", index=False)

In [1]:
#####